/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

h2 > span.dashicons.dashicons-calendar-alt{
	height: 40px;
	width: 40px;
	font-size: 40px;
}

.tas-admin-card{
	background-color: #FFF;
	box-shadow: 1px 1px 3px #274160;
	margin-bottom: 15px;
	padding: 10px;
}

.tas-admin-card-full{
	height: 100%;
}

.table-scroll {
  overflow-y: scroll;
}
	.table-scroll::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
		background-color: #F5F5F5;
	}

	.table-scroll::-webkit-scrollbar {
		width: 12px;
		background-color: #F5F5F5;
	}

	.table-scroll::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #555;
	}
	.table-scroll-small{
  		height: 230px;
	}
	.table-scroll-large{
		height: 330px;
	}
/**
 * Full calendar
 */
.calendar-highlight{
	border-color: rgb(250, 0, 0) !important;
}

/**
 * Overide!
 */
#wpwrap {
  background-color: rgb(240, 240, 240) !important;
}

#wpfooter{
	position: inherit !important
}


